<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.mybatis.mapper.ProjectMapper">
	<cache />
	<insert id="insertProject" parameterType="Project">
		<selectKey keyProperty="project_id" resultType="int" order="BEFORE">
			SELECT Sequence_project.nextval AS project_id FROM DUAL
		</selectKey>
		INSERT INTO PROJECT (project_id, leader_id, name, type, creationDate, createdLink, notice, color)
		VALUES (#{project_id}, #{leader_id}, #{name}, #{type}, to_date(SYSDATE, 'YYYY-MM-DD HH24:mi:SS'), #{createdLink}, #{notice}, #{color})
	</insert>
	
	<update id="updateProject" parameterType="Project">
		UPDATE Project
		SET leader_id = #{leader_id}, name = #{name}, type = #{type}, creationDate = to_date(SYSDATE, 'YYYY-MM-DD HH24:mi:SS'), createdLink = #{createdLink}, notice = #{notice}, color = #{color}
		WHERE project_id = #{project_id}
	</update>
	
	<insert id="participateInProject" parameterType="Participation">
		INSERT INTO PARTICIPATION {project_id, member_id}
		VALUES (#{project_id}, #{member_id})
	</insert>
	
	<delete id="deleteProject" parameterType="int">
		DELETE FROM Project
		WHERE project_id = #{project_id}		
	</delete>
	
	<delete id="outProject" parameterType="Participation">
		DELETE FROM PARTICIPATION
		WHERE project_id = #{project_id} AND member_id = #{member_id}		
	</delete>
	
	<select id="findProject" parameterType="int" resultType="Project">
		SELECT project_id, leader_id, name, type, creationDate, createdLink, notice, color 
		FROM project
		WHERE project_id = #{project_id}
	</select>
	
	<select id="findProjectsInMember" parameterType="int" resultType="Project">
		SELECT PROJECT.project_id AS project_id, PROJECT.leader_id AS leader_id, PROJECT.name AS name, PROJECT.type AS type, PROJECT.creationDate AS creationDate, PROJECT.createdLink AS createdLink, PROJECT.notice AS notice, PROJECT.color AS color
		FROM MEMBER LEFT JOIN PARTICIPATION ON MEMBER.member_id = PARTICIPATION.member_id JOIN PROJECT ON PROJECT.project_id = PARTICIPATION.project_id 
		WHERE MEMBER.member_id = #{member_id}
	</select>
	
	<select id="findMembersInProject" parameterType="int" resultType="Member">
		SELECT MEMBER.member_id AS member_id, MEMBER.user_name AS user_name, MEMBER.password AS password, MEMBER.name AS name, MEMBER.email AS email, MEMBER.phone AS phone, MEMBER.birth AS birth
		FROM MEMBER LEFT JOIN PARTICIPATION ON MEMBER.member_id = PARTICIPATION.member_id JOIN PROJECT ON PROJECT.project_id = PARTICIPATION.project_id 
		WHERE PROJECT.project_id = #{project_id}
	</select>
	
</mapper>