<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mybatis.mapper.ThreadMapper">
	<cache />
	
	<sql id="BaseColumns">
		thread_number AS threadNumber,
  		writtenDate,
		content, 
		task_id AS taskId,
		member_id AS memberId
	</sql>
	
	<select id="selectThreadByTaskId" parameterType="int" resultType="Thread">
		SELECT <include refid="BaseColumns" />
		FROM THREAD JOIN TASK USING (task_id)
		<where>
			<if test="task_id != null">
				task_id = #{taskId}
			</if>
		</where>
	</select>
	
	<insert id="insertThread" parameterType="Thread">
		<selectKey keyProperty="number" resultType="int" order="BEFORE">
			SELECT SEQUENCE_THREAD.nextval AS number FROM DUAL
		</selectKey>
		INSERT INTO THREAD (thread_number, writtenDate, content, task_id, member_id)
		VALUES (#{number}, SYSDATE, #{content}, #{taskId}, #{memberId})
	</insert>
	
	<update id="updateThread" parameterType="Thread">
		UPDATE THREAD
		 SET writtenDate = #{SYSDATE} , content = #{content}
		WHERE thread_number = #{threadNumber}
	</update>
 
	<delete id="deleteThread" parameterType="int">
		DELETE FROM THREAD
		WHERE thread_number = #{threadNumber}
	</delete>


</mapper>
